-- MySQL dump 10.13  Distrib 8.0.40, for Win64 (x86_64)
--
-- Host: localhost    Database: tourism_db
-- ------------------------------------------------------
-- Server version	8.0.40

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `admin`
--

DROP TABLE IF EXISTS `admin`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `admin` (
  `admin_id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `password` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`admin_id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin`
--

LOCK TABLES `admin` WRITE;
/*!40000 ALTER TABLE `admin` DISABLE KEYS */;
INSERT INTO `admin` VALUES (1,'azzy','azzy@gmail.com','1234'),(2,'saad','sak@gmail.com','abcd');
/*!40000 ALTER TABLE `admin` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bookings`
--

DROP TABLE IF EXISTS `bookings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bookings` (
  `booking_id` int NOT NULL AUTO_INCREMENT,
  `tourist_id` int DEFAULT NULL,
  `destination_id` int DEFAULT NULL,
  `resort_id` int DEFAULT NULL,
  `restaurant_id` int DEFAULT NULL,
  `itinerary_id` int DEFAULT NULL,
  `booking_date` date DEFAULT (curdate()),
  `status` varchar(50) DEFAULT NULL,
  `price` double DEFAULT NULL,
  `remarks` varchar(255) DEFAULT NULL,
  `travel_date` date DEFAULT NULL,
  `num_passengers` int DEFAULT '1',
  PRIMARY KEY (`booking_id`),
  KEY `destination_id` (`destination_id`),
  KEY `resort_id` (`resort_id`),
  KEY `restaurant_id` (`restaurant_id`),
  KEY `itinerary_id` (`itinerary_id`),
  KEY `fk_tourist_id` (`tourist_id`),
  CONSTRAINT `bookings_ibfk_1` FOREIGN KEY (`destination_id`) REFERENCES `destinations` (`destination_id`),
  CONSTRAINT `bookings_ibfk_2` FOREIGN KEY (`resort_id`) REFERENCES `resorts` (`resort_id`),
  CONSTRAINT `bookings_ibfk_3` FOREIGN KEY (`restaurant_id`) REFERENCES `restaurants` (`restaurant_id`),
  CONSTRAINT `bookings_ibfk_4` FOREIGN KEY (`itinerary_id`) REFERENCES `itinerary` (`itinerary_id`),
  CONSTRAINT `fk_tourist_id` FOREIGN KEY (`tourist_id`) REFERENCES `tourist` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=52 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bookings`
--

LOCK TABLES `bookings` WRITE;
/*!40000 ALTER TABLE `bookings` DISABLE KEYS */;
INSERT INTO `bookings` VALUES (3,NULL,1,1,2,3,'2025-07-16','Pending',0,NULL,NULL,1),(4,NULL,1,1,2,3,'2025-07-16','Pending',0,NULL,NULL,1),(12,NULL,1,1,2,3,'2025-07-16','Pending',1500,NULL,NULL,1),(42,4,1,1,2,3,'2025-07-17','Pending',1500,NULL,NULL,1),(44,4,1,1,2,3,'2025-07-18','Pending',1500,NULL,NULL,1),(45,4,1,1,2,3,'2025-07-18','Pending',1500,NULL,NULL,1),(46,4,1,1,2,3,'2025-07-18','Pending',1500,NULL,NULL,1),(47,4,1,1,2,3,'2025-07-18','Pending',1500,NULL,NULL,1),(48,4,1,1,2,3,'2025-07-18','Pending',1500,NULL,NULL,1),(51,6,1,1,2,3,'2025-07-18','Pending',1500,NULL,NULL,1);
/*!40000 ALTER TABLE `bookings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `destinations`
--

DROP TABLE IF EXISTS `destinations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `destinations` (
  `destination_id` int NOT NULL AUTO_INCREMENT,
  `Destination_name` varchar(30) DEFAULT NULL,
  `Destination_description` varchar(255) DEFAULT NULL,
  `Destination_paragraph` mediumtext,
  `Destination_price` double DEFAULT NULL,
  `Destination_image` varchar(255) DEFAULT NULL,
  `Destination_rating` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`destination_id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `destinations`
--

LOCK TABLES `destinations` WRITE;
/*!40000 ALTER TABLE `destinations` DISABLE KEYS */;
INSERT INTO `destinations` VALUES (1,'Kerala Back waters','It\'s back waters ','It\'s a serene destionation which is underrated aswell',2000,'Images/Kerala_backwaters_photo.jpg','4.6'),(4,'Kerala Back waters','A flow of canal','It\'s a water flow canal where you could spend a day',2300,'Images/Kerala_backwaters_photo.jpg','4.6');
/*!40000 ALTER TABLE `destinations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `itinerary`
--

DROP TABLE IF EXISTS `itinerary`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `itinerary` (
  `itinerary_id` int NOT NULL AUTO_INCREMENT,
  `destination_id` int NOT NULL,
  `itinerary_day1` varchar(255) DEFAULT NULL,
  `itinerary_day1_description` text,
  `itinerary_day2` varchar(255) DEFAULT NULL,
  `itinerary_day2_description` text,
  `itinerary_day3` varchar(255) DEFAULT NULL,
  `itinerary_day3_description` text,
  `itinerary_day4` varchar(255) DEFAULT NULL,
  `itinerary_day4_description` text,
  `itinerary_day5` varchar(255) DEFAULT NULL,
  `itinerary_day5_description` text,
  `itinerary_price` double DEFAULT NULL,
  PRIMARY KEY (`itinerary_id`),
  KEY `destination_id` (`destination_id`),
  CONSTRAINT `itinerary_ibfk_1` FOREIGN KEY (`destination_id`) REFERENCES `destinations` (`destination_id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `itinerary`
--

LOCK TABLES `itinerary` WRITE;
/*!40000 ALTER TABLE `itinerary` DISABLE KEYS */;
INSERT INTO `itinerary` VALUES (3,1,'Mangroove','A deep ride into the jungle in boating','Beach day','Take a ride into center of beach','','','','','','',1200),(4,1,'Treking','A long trk to kudremukha','Mangroove','A depp ride into the mangroove forest','','','','','','',800);
/*!40000 ALTER TABLE `itinerary` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payments`
--

DROP TABLE IF EXISTS `payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payments` (
  `payment_id` int NOT NULL AUTO_INCREMENT,
  `booking_id` int NOT NULL,
  `payment_method` varchar(50) NOT NULL,
  `payment_date` date NOT NULL,
  `payment_status` varchar(20) NOT NULL,
  `amount` double NOT NULL,
  PRIMARY KEY (`payment_id`),
  KEY `booking_id` (`booking_id`),
  CONSTRAINT `payments_ibfk_1` FOREIGN KEY (`booking_id`) REFERENCES `bookings` (`booking_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payments`
--

LOCK TABLES `payments` WRITE;
/*!40000 ALTER TABLE `payments` DISABLE KEYS */;
INSERT INTO `payments` VALUES (1,3,'credit','2025-07-16','Success',0),(2,4,'credit','2025-07-16','Success',0),(5,12,'debit','2025-07-16','Success',4700),(6,12,'credit','2025-07-16','Success',4700),(7,12,'debit','2025-07-16','Success',4700),(11,42,'debit','2025-07-17','Success',4700),(13,48,'debit','2025-07-18','Success',4700),(14,51,'credit','2025-07-18','Success',4700);
/*!40000 ALTER TABLE `payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `resorts`
--

DROP TABLE IF EXISTS `resorts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `resorts` (
  `resort_id` int NOT NULL AUTO_INCREMENT,
  `destination_id` int NOT NULL,
  `name` varchar(255) NOT NULL,
  `description` text,
  `type` varchar(100) DEFAULT NULL,
  `rating` double DEFAULT NULL,
  `resort_price` double DEFAULT NULL,
  PRIMARY KEY (`resort_id`),
  KEY `destination_id` (`destination_id`),
  CONSTRAINT `resorts_ibfk_1` FOREIGN KEY (`destination_id`) REFERENCES `destinations` (`destination_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `resorts`
--

LOCK TABLES `resorts` WRITE;
/*!40000 ALTER TABLE `resorts` DISABLE KEYS */;
INSERT INTO `resorts` VALUES (1,1,'Varkala house','It\'s a unique and none like resorts as it include activities of both indoor and outdoor like cricket, badminton, swimming, etc','Beach side',4,1000);
/*!40000 ALTER TABLE `resorts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `restaurants`
--

DROP TABLE IF EXISTS `restaurants`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `restaurants` (
  `restaurant_id` int NOT NULL AUTO_INCREMENT,
  `destination_id` int NOT NULL,
  `name` varchar(255) NOT NULL,
  `description` text,
  `cuisine_type` varchar(100) DEFAULT NULL,
  `rating` double DEFAULT NULL,
  `restaurant_price` double DEFAULT NULL,
  PRIMARY KEY (`restaurant_id`),
  KEY `destination_id` (`destination_id`),
  CONSTRAINT `restaurants_ibfk_1` FOREIGN KEY (`destination_id`) REFERENCES `destinations` (`destination_id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `restaurants`
--

LOCK TABLES `restaurants` WRITE;
/*!40000 ALTER TABLE `restaurants` DISABLE KEYS */;
INSERT INTO `restaurants` VALUES (2,1,'Khan Restaurant','Munnar','Indian-Afghani',5,500);
/*!40000 ALTER TABLE `restaurants` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tourist`
--

DROP TABLE IF EXISTS `tourist`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tourist` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(30) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `phone` bigint DEFAULT NULL,
  `password` varchar(20) DEFAULT NULL,
  `confirmpassword` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tourist`
--

LOCK TABLES `tourist` WRITE;
/*!40000 ALTER TABLE `tourist` DISABLE KEYS */;
INSERT INTO `tourist` VALUES (1,'Samrudh','sam@gmail.com',8901234567,'sam123','sam123'),(4,'Nizz','nizzzz@cat.com',1234567890,'1234','1234'),(5,'Samrudh','samrudhkugowda@gmail.com',1234567890,'1234','1234'),(6,'Sandesh H M','sandeshhhm1994@gmail.com',9876543222,'san123','san123');
/*!40000 ALTER TABLE `tourist` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-07-19 16:58:13
